[submodule "external/PX4-Autopilot"]
	path = external/PX4-Autopilot
	url = https://github.com/herrnel/PX4-Autopilot.git
	branch = ai-grand-prix
[submodule "external/mav_simulator"]
	path = external/mav_simulator
	url = https://github.com/herrnel/mav_simulator.git
	branch = ai-grand-prix
